@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eefdffc0;
  --foreground: #171717;
  --primary: #008080;
  --secondary: 	#66b2b2;
  --danger:#ff8b94;
  --muted:#b2d8d8;
  --border: #111111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
